<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharedLibrary.MainSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SharedLibrary.MainSettings.RabbitMQHostName" connectionString="95.163.241.218" />
    </connectionStrings>
    <userSettings>
        <SharedLibrary.MainSettings>
            <setting name="RabbitMQUsername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="RabbitMQPassword" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="RabbitMQMessagesQueueName" serializeAs="String">
                <value>messagesWithPriorities</value>
            </setting>
            <setting name="SendingMessagesIntervalInMilliseconds" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="HandlingMessagesIntervalInMilliseconds" serializeAs="String">
                <value>00:00:05</value>
            </setting>
        </SharedLibrary.MainSettings>
    </userSettings>
</configuration>